body{
    background-color: black;

}
h1{
    color: pink;
    font-size: 10em;
}
div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
input{
    width: 90px;
    height: 50px;
}